/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #65c8ff;;
    border-bottom: 1px solid #ddd;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 40px;
    margin-right: 10px;
}

/* Profile Section */
main {
    padding: 20px;
}

section#profile {
    background: #a2d2ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section#profile h2 {
    margin-top: 0;
    font-size: 20px;
    color: #0c0a0a;
}

section#profile p {
    font-size: 16px;
    margin: 10px 0;
}

section#profile p span {
    color: #0c0a0a;
}
